<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>LO LAMENTO. NO SOS ADMIN!</h1>
    <img src="https://media.giphy.com/media/T1WqKkLY753dZghbu6/giphy.gif" alt="">

    <hr>
	<nav>
	<ul>
		<li><a href="/users/login">Login</a></li>
		<li><a href="/">Home</a></li>
	</ul>
</nav>
<hr>
</body>
</html>